## gradle
/.gradle
/build
/gradle
/gradlew
/gradlew.bat

## ForgeGradle
/runClient
/runServer

## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
ToDo
libs/[1.7.10]TerraFirmaCraft-deobf-0.79.27.jar
